/* Frame 18 */

position: relative;
width: 240px;
height: 240px;



/* Ellipse 41 */

position: absolute;
width: 240px;
height: 240px;
left: 0px;
top: 0px;

background: #000000;


/* Ellipse 49 */

position: absolute;
width: 220px;
height: 220px;
left: 10px;
top: 10px;

background: #1E1E2E;
border-radius: 20px;


/* Ellipse 56 */

position: absolute;
width: 220px;
height: 220px;
left: 10px;
top: 10px;

background: #FFFFFF;
border-radius: 20px;


/* Ellipse 96 */

position: absolute;
width: 220px;
height: 220px;
left: 10px;
top: 10px;

background: #FFFFFF;
border-radius: 20px;


/* Ellipse 97 */

position: absolute;
width: 220px;
height: 220px;
left: 10px;
top: 10px;

background: #454545;
border-radius: 20px;


/* Ellipse 98 */

position: absolute;
width: 220px;
height: 220px;
left: 10px;
top: 10px;

background: #454545;
border-radius: 20px;


/* Ellipse 57 */

position: absolute;
width: 220px;
height: 220px;
left: 10px;
top: 10px;

background: linear-gradient(121.57deg, #6F0300 38.94%, #FF120C 66.86%);
border-radius: 20px;


/* Ellipse 99 */

position: absolute;
width: 220px;
height: 220px;
left: 10px;
top: 10px;

background: linear-gradient(179.7deg, #03B3E4 27.62%, #0C3642 71.26%);
border-radius: 20px;


/* Ellipse 55 */

position: absolute;
width: 220px;
height: 220px;
left: 10px;
top: 10px;

background: #00C5ED;
border-radius: 20px;


/* 24° */

position: absolute;
width: 115px;
height: 73px;
left: 68px;
top: 34px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 300;
font-size: 75px;
line-height: 98px;

color: #FFFFFF;



/* Ellipse 95 */

box-sizing: border-box;

position: absolute;
width: 37px;
height: 37px;
left: 107px;
top: 152px;

background: #08202D;
border: 1px solid #00C5ED;


/* Ellipse 100 */

position: absolute;
width: 37px;
height: 37px;
left: 61px;
top: 152px;

background: #121829;


/* Ellipse 101 */

position: absolute;
width: 37px;
height: 37px;
left: 153px;
top: 152px;

background: #121829;


/* Temp 28° Humid 60% */

position: absolute;
width: 84px;
height: 10px;
left: 83px;
top: 126px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 300;
font-size: 8px;
line-height: 10px;

color: #375274;



/* 开关 (2) 3 */

position: absolute;
width: 25px;
height: 25px;
left: 113px;
top: 158px;

background: url(开关 (2).png);


/* 下扫风 (1) 1 */

position: absolute;
width: 25px;
height: 25px;
left: 159px;
top: 158px;

background: url(下扫风 (1).png);


/* Ellipse 102 */

position: absolute;
width: 8px;
height: 8px;
left: 8px;
top: 108px;

background: #00D7FF;
box-shadow: 0px 4px 4px rgba(217, 217, 217, 0.25);


/* 操作_风速 (1) 1 */

position: absolute;
width: 25px;
height: 25px;
left: 66px;
top: 157px;

background: url(操作_风速 (1).png);

Ellipse对应我的arc，一定要确保的arc角度和图片一模一样